/*!ABHIMANYU*/
@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400');

*,
*:before,
*:after{
  box-sizing: border-box;
}

* {
  user-select: none; 
  -webkit-tap-highlight-color: rgba(0,0,0,0); 
  transform-style: preserve-3d; 
  margin: 0;
  padding: 0;
}

*:focus {
  outline: none!important; 
}

body{
  margin: 0;
  padding: 0;
  background: #131313;
  color: #f5f5f5;
  font-family: 'Fira Sans';
  text-align: left;
  overflow-x: hidden;
  overflow-y: hidden;
}

.container{
  width:100vw;
  height: 100vh;
  display: flex;
  flex-flow: row;
  perspective: 1000px;
  perspective-origin: center;
}

.col{
  height:  100%;
  transition: transform 600ms cubic-bezier(0.390, 0.575, 0.565, 1.000), opacity 300ms ease;
  transform: translateZ(34px) scale(.98);
  flex: 0 0 33.3333%; 
  position: relative;
}

.col:nth-of-type(1){
  transform: rotateY(5deg) translateZ(34px) scale(.98);
}

.col:nth-of-type(3){
  transform: rotateY(-5deg) translateZ(34px) scale(.98);
}

.col:hover,
.col:focus{
  transform: translateZ(34px);
  transition: transform 300ms cubic-bezier(0.390, 0.575, 0.565, 1.000), opacity 300ms ease;
}

.card-container{
  position: relative;
  width: calc(100% - 25px);
  height:  calc(33.3% - 25px);
  margin: 17px;
  padding: 8px;
  text-align: center;
  opacity: .89;
}

.card-container:hover,
.card-container:focus{
  opacity: 1;
}

.overlay{
  display: block;
  position: absolute;
  cursor: pointer;
  width: 50%;
  height: 50%;
  z-index: 1;
  transform: translateZ(34px);
}

.overlay:nth-of-type(1){
  left: 0;
  top: 0;
}

.overlay:nth-of-type(2){
  right: 0;
  top: 0;
}

.overlay:nth-of-type(3){
  bottom: 0;
  right: 0;
}

.overlay:nth-of-type(4){
  bottom: 0;
  left: 0;
}

.overlay:nth-of-type(1):hover ~ .card,
.overlay:nth-of-type(1):focus ~ .card{
  transform-origin: right top;
  transform: rotateX(3deg) rotateY(-3deg) translateZ(0);
}

.overlay:nth-of-type(2):hover ~ .card,
.overlay:nth-of-type(2):focus ~ .card{
  transform-origin: left top;
  transform: rotateX(3deg) rotateY(3deg) translateZ(0);
}

.overlay:nth-of-type(3):hover ~ .card,
.overlay:nth-of-type(3):focus ~ .card{
  transform-origin: left bottom;
  transform: rotateX(-3deg) rotateY(3deg) translateZ(0);
}

.overlay:nth-of-type(4):hover ~ .card,
.overlay:nth-of-type(4):focus ~ .card{
  transform-origin: right bottom;
  transform: rotateX(-3deg) rotateY(-3deg) translateZ(0);
}

.card{
  border-radius: 5px;
  height: 100%;
  transition: all 300ms ease-out;
  align-items: center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  position: relative;
  z-index: 0;
  opacity: .89;
  padding: 13px 21px;
}

.card:before,
.card:after{
  content: '';
  position: absolute;
  left:0;
  top: 0;
  display: block;
  width: 100%;
  height: 100%;
  opacity: .21;
  transition: transform 300ms ease;
  transform: scale(.98);
}

.card:before{
  background-size: cover;
  background-position: 50% 50%;
}

.card-container:hover .card:before,
.card-container:hover .card:after,
.card-container:focus .card:before,
.card-container:focus .card:after{
  opacity: .34;
  transform: scale(1);
}

.col:nth-of-type(1) .card-container:nth-of-type(1) .card:before{
      background-image: url(https://scontent.fpat2-1.fna.fbcdn.net/v/t1.0-9/p960x960/94318669_552520908801949_2831179537432182784_o.png?_nc_cat=101&_nc_sid=85a577&_nc_oc=AQlH2ENwy5Jrqzj0Bh0EoDzSGPZRvbuSi-Ya-ITbV1WmoZxwJBXUlKeiXcwihrFIV_0&_nc_ht=scontent.fpat2-1.fna&oh=b48e354fd7acb195d655abf00f2a2bb0&oe=5EE3B0DA););
}

.col:nth-of-type(2) .card-container:nth-of-type(1) .card:before{
      background-image: url(https://scontent.fpat2-1.fna.fbcdn.net/v/t1.0-9/p960x960/94318669_552520908801949_2831179537432182784_o.png?_nc_cat=101&_nc_sid=85a577&_nc_oc=AQlH2ENwy5Jrqzj0Bh0EoDzSGPZRvbuSi-Ya-ITbV1WmoZxwJBXUlKeiXcwihrFIV_0&_nc_ht=scontent.fpat2-1.fna&oh=b48e354fd7acb195d655abf00f2a2bb0&oe=5EE3B0DA););
}

.col:nth-of-type(3) .card-container:nth-of-type(1) .card:before{
      background-image: url('https://scontent.fpat2-1.fna.fbcdn.net/v/t1.0-9/p960x960/88321395_2055661654579060_5581555527252443136_o.jpg?_nc_cat=103&_nc_sid=85a577&_nc_oc=AQmWk6yQgQ5YbKjzBsTwWumNYMONaxBhaqguqa2iE8syZMYmBOyIAi1jN20gnh2cw5A&_nc_ht=scontent.fpat2-1.fna&_nc_tp=6&oh=738d4c536fbcbb038bf5ecf13f099588&oe=5EE29889');
}

.col:nth-of-type(1) .card-container:nth-of-type(2) .card:before{
      background-image: url('https://scontent.fpat2-1.fna.fbcdn.net/v/t1.0-9/70180601_2696949973649178_387021697770848256_o.png?_nc_cat=102&_nc_sid=dd9801&_nc_oc=AQmJUyhiF_nl8mkuuEkv9DwbJElLoY8VSILPXCtaMDoaP1I18ZOsN2WMolQT8S1Tw7U&_nc_ht=scontent.fpat2-1.fna&oh=f886731b86953859a4fefccad73ba514&oe=5EE45183');
}

.col:nth-of-type(2) .card-container:nth-of-type(2) .card:before{
      background-image: url('https://scontent.fpat2-1.fna.fbcdn.net/v/t1.0-9/52927523_1688056644627500_7600076477178052608_n.jpg?_nc_cat=108&_nc_sid=85a577&_nc_oc=AQmnEY_Xw_m2JYV3NkM2O92c8yTHuXfGKGwEBb01RyiG-mJVgOntVLoL542wD-xwpxg&_nc_ht=scontent.fpat2-1.fna&oh=a29efb1e4e87713a3d29126b978cbc84&oe=5EE3656D');
}

.col:nth-of-type(3) .card-container:nth-of-type(2) .card:before{
      background-image: url('https://c1.wallpaperflare.com/preview/184/11/589/coming-soon-coming-soon-patience.jpg');
}

.col:nth-of-type(1) .card-container:nth-of-type(3) .card:before{
      background-image: url('https://c1.wallpaperflare.com/preview/184/11/589/coming-soon-coming-soon-patience.jpg');

}

.col:nth-of-type(2) .card-container:nth-of-type(3) .card:before{
      background-image: url('https://c1.wallpaperflare.com/preview/184/11/589/coming-soon-coming-soon-patience.jpg');

}

.col:nth-of-type(3) .card-container:nth-of-type(3) .card:before{
      background-image: url('https://c1.wallpaperflare.com/preview/184/11/589/coming-soon-coming-soon-patience.jpg');

}

.card:after{
  background: linear-gradient(to bottom, rgba(0,0,0,0) 50%,rgba(0,0,0,0.89) 100%);
}

h4{
  text-align: left;
  font-size: 18px;
  font-weight:400;
  transform: translateY(5px);
  transition: transform 450ms cubic-bezier(0.390, 0.575, 0.565, 1.000);
  max-width: 320px;
  outline: 1px solid transparent;
}

.overlay:hover ~ .card h4,
.overlay:focus ~ .card h4{
  transform: translateZ(144px);
}

.card > span{
  font-size: 34px;
  opacity: 0;
  transform: translateX(-3px);
  transition: all 300ms ease;
}

.card-container:hover > .card > h4,
.card-container:focus > .card > h4{
  transform: translateY(-13px);
}

.card-container:hover > .card > span,
.card-container:focus > .card > span{
 opacity: 1;
    transform: translateX(3px);
  animation: slideRight 300ms ease;
}

@media (max-width: 768px){
  body{
    overflow-y: scroll;
  }
  h4{
    font-size: 17px;
  }
}

@media (max-width: 540px){
  .container{
    flex-flow: column;
    perspective: none;
  }
  
  .col:nth-of-type(1),
  .col:nth-of-type(2),
  .col:nth-of-type(3),
  .col:hover{
      transform: none;
  }
  
  h4{
    padding-bottom: 8px;
    font-size: 18px;
  }
  
.card > span{
      display: none;
  }
}

@media (max-height: 599px){
.card > span{
      display: none;
  }
}

@media (max-width: 860px) and (max-height: 540px){
  h4{
    font-size: 14px;
  }
}

@media (max-width: 620px) and (max-height: 540px){
  h4{
    font-size: 13px;
  }
}
