*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Lato', sans-serif;

}

.container{
	width: 100%;
	height: 100vh;
	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)) , url(../log3.jpeg);
	
	background-size: cover;
	background-position: center;
	display: flex;
	justify-content: center;
	align-items: center;

}

.main{
	background-color: #fff;

}

h2{
	padding: 40px;
	text-transform: uppercase;
	color: #414141;
	font-weight: lighter;
}

input{
	height: 50px;
	width: 90%;
	border: none;
	margin: 0 auto;
	display: block;
}

input:hover,input:focus{
	color: #ff5722;
	outline: none;
	border-bottom: 1px solid #ff5722;
	
}
.email,.pwd{
	border-bottom: 1px solid rgba(0,0,0,0.1);
	padding-left: 20px;
	text-transform: uppercase;
	color: #858585;
	font-weight: lighter;
	transition: 0.5s all;


}


.forget{
	width: 100%;
	text-align: center;
	padding: 20px;


}

.forget .link{
	text-decoration: none;
	text-transform: uppercase;
	color: #858585;
	font-weight: lighter;
	transition: 0.5s all;

}

.btn{
	width: 100%;
	display: flex;
}
button{
	cursor:pointer;
	width: 250px;
	height: 60px;
	border: none;
	text-transform: uppercase;
	color: #fff;
	transition: 0.5s all;


}

button:nth-of-type(1){
	background-color: #673ab7;

}

button:nth-of-type(2){
	background-color: #ff5722;
	
}

button span{
	display: block;
	transform: translateX(0);
	transition: 0.5s all;

}

button:hover span{
	transform: translateX(30px);


}